#root {
  max-width: 1280px;
  margin: 0;
  color: #3a3e47;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

section,
footer,
header,
main,
nav {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: #495fef;
  text-decoration: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3a3e47;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

p {
  color: #3a3e47;
  margin-top: 0;
}

.btn:not(:disabled):not(.disabled),
button:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-primary,
.btn-primary a {
  color: rgb(82, 81, 81);
  background-color: #ecf87f;
  border-color: #2c5e1a;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

body {
  /* margin: 0; */
  padding: 0;
  background: #3a3cb4;
  background: linear-gradient(90deg, #2c5e1a, #8bcd50);
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  padding-left: 15px;
  padding-right: 15px;
  gap: 40px;
}

.main-page {
  background: #4B7BF5;
  margin: 0;
  color: #3a3e47;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.main-div {
  background-color: #b2d2a4;
  border-radius: 18px;
  width: 100%;
}

.calculator-title {
  margin-bottom: 60px;
}

input {
  border: solid 2px rgb(82, 81, 81);
  border-radius: 5px;
}

.payment-history-container {
  display: flex;
  flex-direction: column;
}